:root{--clr-primary:#6f03fc;}


*{
font-family: 'Poppins', sans-serif!important;
border: none;
margin: 0;
padding: 0;
transition: .3s ease-in-out;
}



body{
  background:#e0e0e0;
}

main{
  display: flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  width: 100vw;

  flex-direction:column;
  gap:2rem;
}

article{
 width:50%;
 height:75%;
  border-radius: 10px;
background: #e0e0e0;
box-shadow:  16px 16px 32px #b3b3b3,
             -16px -16px 32px #ffffff;
  padding:2rem 2rem;
  text-align:center;
  margin-bottom:1rem;
}

.img{
  border-radius: 1rem;
background: #e0e0e0;
box-shadow:  16px 16px 32px #bebebe,
             -16px -16px 32px #ffffff;
  padding:1rem 1rem 1rem 1rem;
  margin-top:1rem;
 position: relative;
}

.img img{
  width:15rem;
  height:9rem;
  border-radius:1rem;
  display: block;
}
.overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}


.overlay:hover {
    opacity: 1;
}

.overlay:hover > * {
    transform: translateY(0);
}

.overlay{
    border-radius: 1rem;
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(111, 3, 252, 0.3);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;

}

.fancy{
  color:black;
  text-decoration: none;
  background-image: linear-gradient(#800080, blue);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 3px;
font-weight:bold;
}

.fancy:hover{
  background-size: 100% 3px;
  color:  var(--clr-primary);
}

footer{
width:75vw;
height:35vh;
  border-radius:1rem;

box-shadow:  38px 38px 75px #bebebe,
             -38px -38px 75px #ffffff;
  margin-bottom:1rem;
  display:flex;
  justify-content:center;
  align-items:center;
   flex-direction:row;
  gap:2rem;
}

::selection{
   background-color:var(--clr-primary);
   color:white;
}

::-moz-selection{
  background-color:var(--clr-primary);
  color:white;
}


.icon svg path {
    fill:var(--clr-primary);
}

.icon{
  transition:0.5s all ease;
   display: block;
  height: 100px;
  width: 100px;
box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.icon:active{
    transition:0.3s all ease;
  box-shadow: inset 41px 41px 82px #bebebe,
            inset -41px -41px 82px #ffffff;
}

/*Spinner*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--clr-primary) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
html::-webkit-scrollbar {
  width: .5rem; 
}


html::-webkit-scrollbar-thumb {
background: var(--clr-primary);
border-radius: 25px;
}

.loader > img {
  width: 100px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}